	<div class="row">
		<div class="col-md-12">
			<h1><?php echo __('Match Bowler Scores'); ?></h1>
		</div><!-- end col md 12 -->
	</div><!-- end row -->


	<table cellpadding="0" cellspacing="0" class="table table-striped">
		<thead>
			<tr>
		<th><?php echo $this->Paginator->sort('id'); ?></th>
		<th><?php echo $this->Paginator->sort('match_inning_score_id'); ?></th>
		<th><?php echo $this->Paginator->sort('player_id'); ?></th>
		<th><?php echo $this->Paginator->sort('overs'); ?></th>
		<th><?php echo $this->Paginator->sort('maidens'); ?></th>
		<th><?php echo $this->Paginator->sort('dot_balls'); ?></th>
		<th><?php echo $this->Paginator->sort('wickets'); ?></th>
		<th><?php echo $this->Paginator->sort('runs_conceded'); ?></th>
		<th><?php echo $this->Paginator->sort('no_balls'); ?></th>
		<th><?php echo $this->Paginator->sort('wides'); ?></th>
		<th><?php echo $this->Paginator->sort('created'); ?></th>
		<th><?php echo $this->Paginator->sort('modified'); ?></th>
		<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
		<?php foreach ($matchBowlerScores as $matchBowlerScore): ?>
					<tr>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['id']); ?>&nbsp;</td>
								<td>
			<?php echo $this->Html->link($matchBowlerScore['MatchInningScore']['id'], array('controller' => 'match_inning_scores', 'action' => 'view', $matchBowlerScore['MatchInningScore']['id'])); ?>
		</td>
								<td>
			<?php echo $this->Html->link($matchBowlerScore['Player']['name'], array('controller' => 'players', 'action' => 'view', $matchBowlerScore['Player']['id'])); ?>
		</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['overs']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['maidens']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['dot_balls']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['wickets']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['runs_conceded']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['no_balls']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['wides']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['created']); ?>&nbsp;</td>
						<td><?php echo h($matchBowlerScore['MatchBowlerScore']['modified']); ?>&nbsp;</td>
						<td class="actions">
							<?php echo $this->Html->link('<span class="glyphicon glyphicon-search"></span>', array('action' => 'view', $matchBowlerScore['MatchBowlerScore']['id']), array('escape' => false)); ?>
							<?php echo $this->Html->link('<span class="glyphicon glyphicon-edit"></span>', array('action' => 'edit', $matchBowlerScore['MatchBowlerScore']['id']), array('escape' => false)); ?>
							<?php echo $this->Form->postLink('<span class="glyphicon glyphicon-remove"></span>', array('action' => 'delete', $matchBowlerScore['MatchBowlerScore']['id']), array('escape' => false), __('Are you sure you want to delete # %s?', $matchBowlerScore['MatchBowlerScore']['id'])); ?>
						</td>
					</tr>
				<?php endforeach; ?>
		</tbody>
	</table>

	<p>
		<small><?php echo $this->Paginator->counter(array('format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')));?></small>
	</p>

	<?php
			$params = $this->Paginator->params();
			if ($params['pageCount'] > 1) {
			?>
	<ul class="pagination pagination-sm">
		<?php
					echo $this->Paginator->prev('&larr; Previous', array('class' => 'prev','tag' => 'li','escape' => false), '<a onclick="return false;">&larr; Previous</a>', array('class' => 'prev disabled','tag' => 'li','escape' => false));
					echo $this->Paginator->numbers(array('separator' => '','tag' => 'li','currentClass' => 'active','currentTag' => 'a'));
					echo $this->Paginator->next('Next &rarr;', array('class' => 'next','tag' => 'li','escape' => false), '<a onclick="return false;">Next &rarr;</a>', array('class' => 'next disabled','tag' => 'li','escape' => false));
				?>
	</ul>
	<?php } ?>
