.form-wrapper {
  background-color: #fff;
}
.form-title {
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 5px;
}
.new-ticket-form {
  padding: 20px;
}
.required-sign {
  position: absolute;
  right: 0;
  color: red;
  font-size: 10px;
}
.required-text {
  top: 8px;
}
.required-select {
  top:12px;
}
.required-textarea {
  top:60px;
}
.inner-row {
  padding-left: 9%;
}

@media (max-width: 992px) {
  .inner-row {
    padding-left: 0
  }
}