.date select,
.time select,
.datetime select { width: auto; display: inline-block; }
.error-message {
  color: red;
}
fieldset {
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
.checkbox label {
  min-height: 20px;
  padding-left: 6px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
  padding-top: 11px;
}
.team-one-wrapper {
  border-right: 1px solid #000;
  margin-right: 5px;
  padding-right: 5px;
}