/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all);


/* Genral Settings */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: #3e4d5c;
  direction: ltr;
}
/***
Fix link outlines after click
***/
a {
  color: #E02222;
}
a, a:focus, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #E02222;
  text-decoration: underline;
}

/* General Styles */

.auth-page h1 {
  /*font-family: 'PT Sans Narrow', Arial, sans-serif;*/
  font-size: 33px;
  font-weight: lighter;
}
.auth-page input.form-control {
  border-color: #dbdbdb;
  color: #aaa;
  font: 14px Arial, sans-serif;
  border-radius: 0;
  box-shadow: none;
}
.auth-page legend {
  border: none;
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 10px;
  color: #3E4D5C;
}
.auth-page .control-label {
  font-weight: normal;
  padding-right: 5px;
  margin-left: -15px;
}

input.form-control:focus,
textarea.form-control:focus {
  box-shadow: none;
  border: solid 1px #e94d1c;
}
.form-without-legend {
  padding-top: 25px;
}
.sidebar .list-group-item {
  background: rgba(244,244,244,0.5);
  border: none;
  display: block;
  margin-bottom: 2px;
  padding: 7px 10px;
  position: relative;
  border-radius: 0;
}
.form-info {
  padding: 0 10px 0 30px;
  border-left: solid 1px #e4e6e8;
  margin: 25px 0;
}
.form-info h2 {
  font-size: 18px;
  position: relative;
  top: -5px;
  margin-bottom: 5px;
}
.form-info h2 em {
  font-style: normal;
  color: #e6400c;
}
.form-info p {
  margin: 0 0 20px;
}

/***
Misc tools
***/
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-text-shadow {
  text-shadow: none !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-45 {
  padding-top: 45px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-65 {
  margin-bottom: 65px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}
.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}
.header-wrapper {
  height: 123px;
}

.pre-header {
  color: #616b76;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  line-height: 1.2;
  font-weight: 300;
  background: #fff;
}
.pre-header li {
  padding-left: 11px;
  padding-right: 15px;
  border-right: solid 1px #d8d8d8;
}
.pre-header a {
  color: #616b76;
}

.additional-contact-info li:first-child {
  padding-left: 0;
}
.additional-contact-info li:last-child {
  border: none;
}
.additional-nav li:last-child {
  padding-right: 0;
}
.pre-header li:last-child {
  border: none;
}
.site-logo {
  float: left;
  font-size: 23px;
  font-weight: 400;
  margin-right: 67px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header {
  box-shadow: 0 1px 3px #ddd;
  background: #fff;
  border-radius: 0;
  z-index: 999;
  position: relative;
}
.header-wrapper.fixed .header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(255,255,255,0.95)
}
.header-wrapper.fixed {
  height: 116px;
}
.header .mobile-toggle {
  float: right;
  color: #D8D8D8;
  border: 1px solid #D8D8D8;
  border-radius: 100% !important;
  width: 32px;
  height: 32px;
  display: none;
  margin: 25px 0 0 30px;
  position: relative;
  background: #fff url(../img/toggler.png) no-repeat 6px 8px;
  transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    -ms-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -webkit-transition: margin 0.3s ease;
}
.header .mobile-toggle i {
  display: none;
}
.header .mobile-toggle:hover {
  background: #e34f00 url(../img/toggler.png) no-repeat 6px -28px;
  border-color: #e34f00;
  color: #fff;
}
.header-navigation a {
  color: #333;
}
.header-navigation a:hover,
.header-navigation a:focus,
.header-navigation a:active {
  color: #E02222;
  text-decoration: none;
}
ul.top-nav {  
  text-transform: uppercase;
}
ul.top-nav li.dropdown {
  height: 77px;
  display: inline-block;
  padding-top: 31px;
  font-size: 15px;
  padding-right: 20px;
}
ul.top-nav a {
  font: 400 18px "PT Sans Narrow", Arial, sans-serif;
  color: #78828c;
}
.header-navigation > ul > li > .dropdown-menu {
  margin-top: -5px;
  border-top: solid 3px transparent;
  z-index: 1001;
}
.header-navigation .dropdown-menu {
  left: auto;
  top: 100%;
  padding: 0;
  background: #fff;
  position: absolute;
  border: none;
  box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
  text-transform: none;
  font: 13px "Open Sans", sans-serif;
  letter-spacing: 0;
  border-radius: 0;
  z-index: 9999;
}
.header-navigation .dropdown-menu > li:first-child {
  border-top: 2px solid #EA4C1D;
}
.carousel {
}
.carousel img {
  min-width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.content h2 {
  font: 400 37px "PT Sans Narrow", Arial, sans-serif;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: center;
}
.content h2 span {
  color: #E54A1A;
}
.content h2:after {
  z-index: 2;
  content: " ";
  display: block;
  padding-top: 7px;
  border-bottom: 2px solid #b7bbbf;
  width: 73px;
  margin: 0 auto;
}
.content h4 {
  font: 300 18px "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.content-form {
  background: #fff;
  padding: 5px 20px 30px;
  margin-right: 10px;
}


@media (max-width: 1024px) {
  .header .mobile-toggle {
    display: block;
  }
  ul.top-nav {
    display: none;
  }
  .carousel {
    display: none;
  }
}
@media (max-width: 992px) {
  .member img {
    max-width: 50%;
    margin-left: 26%;
  }
}
