body {
  background-color: #eff4f6;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #578ebe !important;
  border-bottom: 1px solid #dedede;
}
.bidding-content {
  padding: 10px;
}
.bidding-content p {
  font-size: 15px;
}
.schedule-table {
  font-size: 15px;
}
.bidding-content h2 {
  font: 400 37px "PT Sans Narrow", Arial, sans-serif;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: center;
}
.bidding-content h2:after {
  z-index: 2;
  content: " ";
  display: block;
  padding-top: 7px;
  border-bottom: 2px solid #b7bbbf;
  width: 73px;
  margin: 0 auto;
}
.bidding-content h2 span {
  color: #E54A1A;
}