/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);


/* Genral Settings */
html {
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}



body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.font-green-sharp {
  color: #4DB3A2 !important;
}
.font-red-sharp {
  color: #E54A1A !important;
}

/* Custom primary button */
.btn-zooter-primary {
  background-color: #8a0917;
  border-color: #8a0917;
}
.btn-zooter-primary:hover,
.btn-zooter-primary:focus,
.btn-zooter-primary:active,
.btn-zooter-primary.active {
  background-color: #720713;
  border-color: #5a060f;
}
.btn-zooter-primary.disabled:hover,
.btn-zooter-primary.disabled:focus,
.btn-zooter-primary.disabled:active,
.btn-zooter-primary.disabled.active,
.btn-zooter-primary[disabled]:hover,
.btn-zooter-primary[disabled]:focus,
.btn-zooter-primary[disabled]:active,
.btn-zooter-primary[disabled].active,
fieldset[disabled] .btn-zooter-primary:hover,
fieldset[disabled] .btn-zooter-primary:focus,
fieldset[disabled] .btn-zooter-primary:active,
fieldset[disabled] .btn-zooter-primary.active {
  background-color: #8a0917;
  border-color: #8a0917;
}
.orange-color {
  color: #ff9933
}
.link-color {
  color: #990000;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
/* Date Fixes */
.date select { width: auto; }
.datetime select { width: auto; }
.birthday-select select,
.custom-date select {
  width: auto;
  display: inline;
}



#wrapper {
  padding-right: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#page-content {
  height: 100%;
  width: 100%;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  position: fixed;
  right: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.page-header {
  opacity: 1;
  filter: alpha(opacity=100);
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
  height: 126px;
}
.page-header .page-header-top {
  height: 75px;
}

.page-header .page-header-top .page-logo {
  float: left;
  display: block;
  height: 75px;
  width: 255px;
}
.page-header .page-header-top .page-logo .logo-default {
  margin: 29.5px 0 0 0;
}
.page-header .page-header-top .menu-toggler {
  float: right;
  display: none;
  /*background: url(../img/menu-toggler.png) center center;*/
  /*background-repeat: no-repeat;*/
  opacity: 1;
  filter: alpha(opacity=70);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.menu-toggle-caret {
  color: #000;
}
.menu-toggle-caret.sidebar-menu-open {
  -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

span.message-icon,
span.notif-icon {
  font-size: 19px;
}
span.message-badge {
  background-color: #f36a5a;
  color: #fff;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 9px;
}

.top-menu {
  margin: 13px 0 0;
  padding: 0;
  float: right;
}
.page-header .page-header-top .top-menu .navbar-nav {
  padding: 0;
  margin-right: 0;
  display: block;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown {
  margin: 0;
  padding: 0 4px;
  height: 50px;
  display: inline-block;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown:hover,
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown.open {
  background-color: #fafafa;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > a:hover,
.page-header .page-header-top .top-menu .navbar-nav > li.open > a {
  background-color: #fafafa;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
  margin: 0 0 0 1px;
  padding: 17px 10px 8px 10px;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > i {
  color: #C1CCD1;
  font-size: 19px;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
  margin-top: -8px;
  margin-right: 8px;
  height: 40px;
  float: left;
}
.top-menu .navbar-nav > li.dropdown-separator {
  padding-left: 0px;
  padding-right: 6px;
}
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-separator .separator {
  border-left: 1px solid #E3E8EC;
  float: left;
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-left: 5px;
  margin-top: 17px;
}
.page-header .page-header-menu {
  clear: both;
  background: #444d58;
  height: 51px;
}

#menu-toggle-item-wrapper {
  z-index: 1000;
  position: fixed;
  right: -250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  background: #ff9933;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.toggle-menu-content {
  overflow: hidden;
  color: #fff;
}
.toggle-menu-content .nav-profile-pic {
  position: relative;
  top: 0px;
  max-width: 100px;
  padding-top: 10px;
  margin: 0 auto;
}

/* Navigation stying */

.page-header .page-header-menu .hor-menu {
  margin: 0;
  float: left;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
  color: #BCC2CB;
  font-size: 14px;
  font-weight: normal;
  padding: 16px 18px 15px 18px;
}
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover,
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a {
  background: #4E5966;
  color: #f1f1f1;
}


/* Content styling */
.page-container {
  clear: both;
}
.page-head {
  background-color: #fff;
}
.page-head .page-title {
  display: inline-block;
  float: left;
  padding: 19px 0;
}
.page-head .page-title > h1 {
  color: #697882;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
.page-head .page-title > h1 > small {
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.page-content {
  background: #eff3f8;
  padding: 15px 0 15px;
}
/* Media Queries */

@media (max-width:991px) {
  #content {
    margin-top: 30px;
  }
  .page-header .page-header-top .menu-toggler {
    display: block;
    height: 67px;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    vertical-align: middle;
    padding-top: 29.5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu-toggler img {
    width: 40px;
  }
  .sidebar-user-name {
    height: 68px;
    border-bottom: 1px solid #cc6633;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    padding-left: 15px;
    padding-top: 22px;
  }
  ul.sidebar-list {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: lighter;
  }
  ul.sidebar-list a {
    color: #fff;
  }
  ul.sidebar-list li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dotted #fff; 
  }
  ul.sidebar-list li:last-child {
    border-bottom: none;
  }
  ul.sidebar-list .badge {
    background-color: #990000;
    margin-top: 2px;
  }
  hr.sidebar-separator {
    border-top: 1px solid #cc6633;
    margin:0;
  }
  .top-menu {
    display: none;
  }
  #wrapper.toggled {
    padding-right: 250px;
  }
  #wrapper.toggled #menu-toggle-item-wrapper {
    position: fixed;
    right: 0px;
  }
  #wrapper.toggled #page-content {
    right: 250px;
  }
}

@media (max-width: 500px) {
  
}

@media (min-width: 320px) and (max-width: 500px) {

}

@media (max-width: 320px) {

}