body {
  background-color: #eff4f6;
}
.gpl-logo {
  max-height: 100px;
}
.player-basket .bg-success {
  line-height: 35px;
}
.auction-list {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 5px;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.gpl-navigation-list {
  margin-top: 20px;
  margin-bottom: 60px;
}
ul.gpl-navigation-list li {
  position: relative;
  margin-bottom: 1px;
}
ul.gpl-navigation-list li a {
  font-size: 14px;
  font-weight: 300;
  color: #557386;
  display: block;
  background: #f0f6fa;
  border-left: solid 2px #c4d5df;
  text-decoration: none;
}
ul.gpl-navigation-list li i {
  width: 37px;
  height: 37px;
  display: inline-block;
  color: #b9cbd5;
  font-size: 15px;
  padding: 12px 10px 10px 8px;
  margin: 0 8px 0 0;
  text-align: center;
  background: #e0eaf0 !important;
}
ul.gpl-navigation-list li:hover a {
  background: #e0eaf0;
  text-decoration: none;
}
ul.gpl-navigation-list li:hover i {
  color: #fff;
  background: #c4d5df !important;
}
ul.gpl-navigation-list li.active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #169ef4;
  position: absolute;
  top: 12px;
  right: -5px;
}
ul.gpl-navigation-list li.active a {
  color: #fff;
  background: #169ef4;
  text-decoration: none;
}
ul.gpl-navigation-list li.active i {
  color: #fff;
  background: #169ef4;
  text-decoration: none;
}
ul.gpl-navigation-list li.active a {
  border-left: solid 2px #0c91e5;
}
ul.gpl-navigation-list li.active i {
  background: #0c91e5 !important;
}
.gpl-heading {
  background: url(../img/gpl_logo.png);
  background-repeat: no-repeat;
  text-indent: 20px;
}
img.gpl_logo {
  max-height: 100px;
  margin: 0 auto;
  margin-bottom: 14px;
  margin-top: -23px;
}
.nav-content {
  font-size: 14px;
  margin-top: 20px;
  display: none;
}
.nav-content.current {
  display: block;
}
.player-name {
  font-weight: lighter;
}

table.search-table thead {
  color: #999;
}
table.search-table thead tr th {
  background-color: #DDD;
  font-size: 14px;
  font-weight: 400;
  color: #666 !important;
}
table.search-table thead tr th a {
  color: #666 !important;
}
.btn.red-stripe {
  border-left: 3px solid #d84a38;
}
@media (max-width:991px) {
  ul.gpl-navigation-list li.active:after {
    display: none;
  }
}



/***
Portfolio
***/
/*Portfolio Filter*/
.mix-filter {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.mix-filter li {
  color: #555;
  cursor: pointer;
  padding: 6px 15px;
  margin-right: 2px;
  margin-bottom: 5px;
  background: #eee;
  display: inline-block;
}

.mix-filter li:hover,
.mix-filter li.active {
  color: #fff;
  background: #0da3e2;
}

.mix-grid .mix {
  opacity: 0;
  display: none;
}

/*Portfolio Hover*/
.mix-grid .mix {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.mix-grid .mix .mix-inner {
  position: relative;
  width: 100%;
}

.mix-grid .mix .mix-details {
  padding: 5px;
  color: #fff;
  width: 100%;
  height: 100%;
  bottom: -100%;
  text-align: center;
  position: absolute;
  background: #0da3e2;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.mix-grid .mix:hover .mix-details {
  bottom: 0;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.mix-grid .mix .mix-details h4 {
  color: #fff;
  margin-top: 30px;
}

.mix-grid .mix .mix-details p {
  padding: 0 30px;
}

.mix-grid .mix .mix-details i {
  color: #fff;
  font-size: 14px;
}

.mix-grid .mix a.mix-link,
.mix-grid .mix a.mix-preview {
  color: #555;
  display: block;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  padding: 10px 15px;
  background: #16b2f4;
}

.mix-grid .mix a.mix-preview {
  left: 50%;
  margin-left: 5px;
}

.mix-grid .mix a.mix-link {
  right: 50%;
  margin-right: 5px;
}

.mix-grid .mix a.mix-link:hover,
.mix-grid .mix a.mix-preview:hover {
  color: #fff;
  padding: 9px 14px;
  text-decoration: none;
  border: solid 1px #eee;
}

/* Flip cards */

.franchise-list li {
  width: 200px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  /*min-width: 210px;*/
  /*height: 100%;*/
  width: 100%;
  background-color: rgba(234, 234, 234, 1);
  border-left: 2px solid rgba(255, 68, 20, 1);
  color: #B2A7A7;
  text-align: center;
  /*overflow: hidden;*/
}


/* flip speed goes here */
.flipper {
  transition: 1s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.franchise-logo {
  height: 100%;
  overflow: hidden;
}
.front .front-content {

}
.back .desc {
  padding: 10px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) {
  .mix-grid .mix.col-md-6.col-sm-6 .mix-details {
    height: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .mix-grid .mix a.mix-link,
  .mix-grid .mix a.mix-preview {
    margin-top: 5px;
  }
}