body {
  background-color: #eff4f6;
}
.gpl-logo {
  max-height: 100px;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.batting-stats {
margin-bottom: 20px;
padding: 10px;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #578ebe !important;
  border-bottom: 1px solid #dedede;
}
.title-container {
  margin-bottom: 20px;
}
.batsmen:nth-of-type(1) {
  border-top: 2px solid #B7DBD6;
}
.bowler:nth-of-type(1) {
  border-top: 2px solid #B7DBD6;
}
.team:nth-of-type(1) {
  border-top: 2px solid #B7DBD6;
}
.team:nth-of-type(2) {
  border-bottom: 2px solid #B7DBD6;
} 
table.custom-table {
  border:0;
  background-color: #fff;
}
table.custom-table thead tr th {
  font-weight: 600;
  font-size: 13px;
  color: #4db3a4;
  border: 0;
  border-bottom: 1px solid #F2F5F8;
}
table.custom-table tbody tr td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #9ca8b0;
  vertical-align: middle;
}