body {
  background-color: #000;
  font: 400 18px "PT Sans Narrow", Arial, sans-serif;
}
.gca-logo {
  position: absolute;
  left: 15px;
  top: 13px;
  background: rgba(255, 255, 255, 0.75);
  padding: 5px;
}
.auction .heading {
  color: #fff;
}
.auction .heading hr {
  border-top: 1px solid #fff;
  margin-bottom: 5px;
  margin-top: 5px;
}
.round-number {
  color: #E52C2C;
  background: #fff;
  padding: 2px;
  border-radius: 5px;
}
.sold hr {
  border-top: 1px solid #fff;
  margin-bottom: 5px;
  margin-top: 5px;
}
.amount-row {
  margin-bottom: 20px;
}
.amount {
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
}
.amount.min {
  background-color: #979797;
}
.amount.current {
  background-color: #5cb85c;
}
.min-amount {
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px dotted #cccccc;
  border-bottom: 2px dotted #cccccc;
  text-transform: uppercase;
}
.current-amount {
  font-size: 35px;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 2px dotted #cccccc;
  border-bottom: 2px dotted #cccccc;
  text-transform: uppercase;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent;

  border-left: 29px solid #eff4f6;
  position: absolute;
  top: 0;
  left: 0;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent; 

  border-right:29px solid #eff4f6; 
  position: absolute;
  top: 0;
  right: 0;
}
.player-name {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 3px;
}
.random-stuff {

}
.bidding-details {
  margin-top: -15px;
}
.bidding-details .heading {
  color: #fff;
  text-transform: uppercase;
}
.bidding-details .bid-count {
  color: #E52C2C;
  font-size: 15px;
  background: #fff;
  padding: 2px;
  border-radius: 5px; 
}
.bidder {
  background-color: #e1e6e8;
  margin-bottom: 5px;
  height: 62px;
  overflow: hidden;
  position: relative;
}
img.bidder-logo {
  max-width: 62px;
  height: 62px;
  overflow: hidden;
}
.bidder.current {
  background-color: #5cb85c;
  color: #fff;
}
.bidder .right-section {
  margin: 15px;
  word-wrap:break-word;
  margin-top: 8px;
}
.bidder .bidder-name a {
  color: #666666;
  text-transform: uppercase;
}
.bidder.current .bidder-name a {
  color: #fff;
}
.bidder .bidder-location {
  color: #999999;
  font-size: 14px;
}
.bidder.current .bidder-location {
  color: #fff;
}
.bidder .bidder-time {
  color: #8e8e8e;
  position: absolute;
  right: 15px;
  bottom: 0px;
}
.bidder.current .bidder-time {
  color: #fff;
}
.player-image {
  position: relative;
}
.player-image img {
  width: 200px;
  height: 200px;
  border: 1px solid #838687;
}
.details {
  margin-bottom: 10px;
  position: relative;
}
.player-stats {
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  float: right;
}
.player-stats .right-section {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 17px;
}
.player-stats .stat-element {
  margin-bottom: 37px;
}
.auction-teams {
  margin-bottom: 20px;
}
.auction-teams .team {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(200, 202, 203, 0.75);
  -moz-box-shadow:    2px 2px 1px 0px rgba(200, 202, 203, 0.75);
  box-shadow:         2px 2px 1px 0px rgba(200, 202, 203, 0.75);
  border: 2px solid transparent;
}
.auction-teams .team .fa-flag {
  color: #5cb85c;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.auction-teams .team .money-details .value {
  color: #000;
  font-weight: normal;
}
.auction-teams .team.active {
  border: 2px solid #5cb85c;
  background: #79FF79;;
}
.auction-teams .team.active .team-details .right-section .team-location {
  color: #D52C2C;
  font-size: 15px;
}
.auction-teams .team.not-eligible {
  border: 2px solid #E52C2C;
  background: #e1323a;
}
.auction-teams .team.not-eligible .team-details .right-section .team-name {
  color: #fff;
}
.auction-teams .team.not-eligible .team-details .right-section .team-location {
  color: #DDD8D8;
  font-size: 15px;
}
.auction-teams .team.not-eligible .money-details {
  padding: 10px;
  color: #fff;
}
.auction-teams .team.not-eligible .money-details .value {
  color: #fff;
}
.auction-teams .team.not-eligible .money-details .text {
  color: #fff;
  font-weight: normal;
}
.auction-teams .team.active .fa-flag {
  display: block;
}
.auction-teams .team .team-details {
  /*position: relative;*/
  padding: 10px;
  border-bottom: 1px solid #c7ccd0;
}
.auction-teams .team .team-details img.team-logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.auction-teams .team .team-details .right-section {
  max-width: 150px;
  word-wrap:break-word;
  margin-left: 10px;
}
.auction-teams .team .team-details .right-section .team-name {
  color: #666666;
}
.auction-teams .team .team-details .right-section .team-location {
  color: #E52C2C;
  font-size: 15px;
}
.auction-teams .team .money-details {
  padding: 10px;
  color: #78828c;
}
.auction-teams .team .money-details .text {
  color: #000;
  font-weight: bold;
}
.green-button {
  background: #41C273;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}
.sold-details {
  background: #41C273;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}
.sold .heading {
  color: #fff;
}
.sold-details h3 {
  font-size: 28px;
}
.sold-player-name h3 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.congrats {
  color: #fff;
}
.sold-player {
  background: #fff;
  color: #000;
  padding: 10px;
  margin-bottom: 20px;
}
.sold-player .player-pic {
  height: 70px;
  width: 70px;
  overflow: hidden;
}
.sold-player .player-pic img {
  height: 70px;
  width: 70px;
  border: 1px solid #000;
}
.sold-player .right-section {
  margin-left: 20px;
}
.sold-player .player-name {
  color: #898888;
  font-size: 20px;
  font-weight: bold;
}
.sold-player .selling-details {
  color: #898888;
  font-size: 16px;
  margin-top: 10px;
}
.sold-player .selling-details .selling-amount {
  margin-left: 60px;
}

/* About to start */
.about-to-start {
  color: #fff;
}
.about-to-start h1 {
  margin-top: 100px;
  font-size: 60px;
}
.final-results {
  color: #fff;
}
.final-results h1 {
  font-size: 60px;
}
.timer {
    margin-top: 60px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    padding-top: 20px;
    border: 1px solid #fff;
    font-size: 18px;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
    background: #e8643e;
    border: 1px solid #e8643e;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
}
.gif-wrapper {
  background: rgba(39, 37, 37, 0.89);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  top: -85px;
  height: 323px;
  overflow: hidden;
}
.break-text {
  margin-bottom: 100px;
}
.coffee .fa {
  font-size: 200px;
}
.coffee-cloud .fa {
  font-size: 100px;
}
.nav-tabs>li {
  background: rgba(0, 0, 0, 0.26);
  border-right: 1px solid #A08686;
}
.amount-row .player-image {
  display: none;
  text-align: center;
}
@media (max-width: 1200px) {
  .player-stats .right-section {
    font-size: 19px;
  }
  .auction-teams .team .team-details .right-section {
    font-size: 17px;
  }
  .gif-wrapper {
    top: -344px;
  }
}

@media (max-width: 991px) {
  .gca-logo {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -53px;
    background: rgba(255, 255, 255, 0.75);
    padding: 5px;
    margin: 0 auto;
  }
  .auction .heading {
    color: #fff;
    margin-top: 68px;
  }
  .amount-row {
    margin-bottom: 0px;
  }
  .bidding-details .heading {
    margin-top: 40px;
  }
  .player-stats {
    display: none;
  }
  .player-image {
    display: none;
  }
  .amount-row .player-image {
    display: block;
  }
}
audio {
  visibility: hidden !important;
}