.header-wrapper {
  height: 88px;
}
.header-wrapper.fixed {
  height: 88px;
}
.job-header {
  overflow: hidden;
  padding-top: 4%;
  color: #fff;
  background-image: url(../img/jobs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.job-header p.first-heading {
  font-size: 60px;
  font-weight: 200;
}
.job-header p.second-heading {
  font-size: 50px;
}
.job-header p.third-heading {
  font-size: 16px;
  margin-bottom: 20px;
}
.about-gca h1 {
  color:#5a5a5a;
}
.about-gca h4 {
  margin-bottom: 20px;
}
.underline-list li {
  margin-bottom: 0;
  border-bottom: 1px solid #e7e7e7;
  background-position: 0 13px;
  line-height: 18px;
  padding: 8px 0 8px 10px;
}
.arrow-list li {
  background: url(../img/right_arrow.png) no-repeat 0 14px;
}
.underline-list li a {
  color: #858585;
  display: inline-block;
}
.apply-now {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.mailto {
  color: #E02222 !important;
}