/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all);


/* Genral Settings */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: #3e4d5c;
  direction: ltr;
  overflow-x: hidden
}
/***
Fix link outlines after click
***/
a {
  color: #E02222;
}
a, a:focus, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #E02222;
  text-decoration: underline;
}
a.alert-link {
  color: #fff !important;
  font-weight: bold !important;
}
/*#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}*/

/***
  Buttons
***/
/***
Blue Madison
***/
/* Button */
.blue-madison.btn {
  color: #FFFFFF;
  background-color: #578ebe;
  border-color: "";
}
.blue-madison.btn:hover, .blue-madison.btn:focus, .blue-madison.btn:active, .blue-madison.btn.active {
  color: #FFFFFF;
  background-color: #437cae;
}
.open .blue-madison.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #437cae;
}
.blue-madison.btn:active, .blue-madison.btn.active {
  background-image: none;
  background-color: #3c6f9c;
}
.blue-madison.btn:active:hover, .blue-madison.btn.active:hover {
  background-color: #3f74a3;
}
.open .blue-madison.btn.dropdown-toggle {
  background-image: none;
}
.blue-madison.btn.disabled, .blue-madison.btn.disabled:hover, .blue-madison.btn.disabled:focus, .blue-madison.btn.disabled:active, .blue-madison.btn.disabled.active, .blue-madison.btn[disabled], .blue-madison.btn[disabled]:hover, .blue-madison.btn[disabled]:focus, .blue-madison.btn[disabled]:active, .blue-madison.btn[disabled].active, fieldset[disabled] .blue-madison.btn, fieldset[disabled] .blue-madison.btn:hover, fieldset[disabled] .blue-madison.btn:focus, fieldset[disabled] .blue-madison.btn:active, fieldset[disabled] .blue-madison.btn.active {
  background-color: #578ebe;
}
.blue-madison.btn .badge {
  color: #578ebe;
  background-color: #FFFFFF;
}

/**********
Blue Colors
***********/
/***
Blue Default
***/
/* Button */
.blue.btn {
  color: #FFFFFF;
  background-color: #4B8DF8;
  border-color: "";
}
.blue.btn:hover, .blue.btn:focus, .blue.btn:active, .blue.btn.active {
  color: #FFFFFF;
  background-color: #2977f7;
}
.open .blue.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #2977f7;
}
.blue.btn:active, .blue.btn.active {
  background-image: none;
  background-color: #1068f6;
}
.blue.btn:active:hover, .blue.btn.active:hover {
  background-color: #1a6ef6;
}
.open .blue.btn.dropdown-toggle {
  background-image: none;
}
.blue.btn.disabled, .blue.btn.disabled:hover, .blue.btn.disabled:focus, .blue.btn.disabled:active, .blue.btn.disabled.active, .blue.btn[disabled], .blue.btn[disabled]:hover, .blue.btn[disabled]:focus, .blue.btn[disabled]:active, .blue.btn[disabled].active, fieldset[disabled] .blue.btn, fieldset[disabled] .blue.btn:hover, fieldset[disabled] .blue.btn:focus, fieldset[disabled] .blue.btn:active, fieldset[disabled] .blue.btn.active {
  background-color: #4B8DF8;
}
.blue.btn .badge {
  color: #4B8DF8;
  background-color: #FFFFFF;
}

/***********
Green Colors
************/
/***
Green Default
***/
/* Button */
.green.btn {
  color: #FFFFFF;
  background-color: #35aa47;
  border-color: "";
}
.green.btn:hover, .green.btn:focus, .green.btn:active, .green.btn.active {
  color: #FFFFFF;
  background-color: #2d8f3c;
}
.open .green.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #2d8f3c;
}
.green.btn:active, .green.btn.active {
  background-image: none;
  background-color: #267b34;
}
.green.btn:active:hover, .green.btn.active:hover {
  background-color: #298337;
}
.open .green.btn.dropdown-toggle {
  background-image: none;
}
.green.btn.disabled, .green.btn.disabled:hover, .green.btn.disabled:focus, .green.btn.disabled:active, .green.btn.disabled.active, .green.btn[disabled], .green.btn[disabled]:hover, .green.btn[disabled]:focus, .green.btn[disabled]:active, .green.btn[disabled].active, fieldset[disabled] .green.btn, fieldset[disabled] .green.btn:hover, fieldset[disabled] .green.btn:focus, fieldset[disabled] .green.btn:active, fieldset[disabled] .green.btn.active {
  background-color: #35aa47;
}
.green.btn .badge {
  color: #35aa47;
  background-color: #FFFFFF;
}

/***********
Yellow Colors
************/
/***
Yellow Default
***/
/* Button */
.yellow.btn {
  color: #FFFFFF;
  background-color: #FFB848;
  border-color: "";
}
.yellow.btn:hover, .yellow.btn:focus, .yellow.btn:active, .yellow.btn.active {
  color: #FFFFFF;
  background-color: #ffaa24;
}
.open .yellow.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #ffaa24;
}
.yellow.btn:active, .yellow.btn.active {
  background-image: none;
  background-color: #ffa00b;
}
.yellow.btn:active:hover, .yellow.btn.active:hover {
  background-color: #ffa415;
}
.open .yellow.btn.dropdown-toggle {
  background-image: none;
}
.yellow.btn.disabled, .yellow.btn.disabled:hover, .yellow.btn.disabled:focus, .yellow.btn.disabled:active, .yellow.btn.disabled.active, .yellow.btn[disabled], .yellow.btn[disabled]:hover, .yellow.btn[disabled]:focus, .yellow.btn[disabled]:active, .yellow.btn[disabled].active, fieldset[disabled] .yellow.btn, fieldset[disabled] .yellow.btn:hover, fieldset[disabled] .yellow.btn:focus, fieldset[disabled] .yellow.btn:active, fieldset[disabled] .yellow.btn.active {
  background-color: #FFB848;
}
.yellow.btn .badge {
  color: #FFB848;
  background-color: #FFFFFF;
}

/***********
Red Colors
************/
/***
Red Default
***/
/* Button */
.red.btn {
  color: #FFFFFF;
  background-color: #d84a38;
  border-color: "";
}
.red.btn:hover, .red.btn:focus, .red.btn:active, .red.btn.active {
  color: #FFFFFF;
  background-color: #c63927;
}
.open .red.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #c63927;
}
.red.btn:active, .red.btn.active {
  background-image: none;
  background-color: #b03223;
}
.red.btn:active:hover, .red.btn.active:hover {
  background-color: #b93524;
}
.open .red.btn.dropdown-toggle {
  background-image: none;
}
.red.btn.disabled, .red.btn.disabled:hover, .red.btn.disabled:focus, .red.btn.disabled:active, .red.btn.disabled.active, .red.btn[disabled], .red.btn[disabled]:hover, .red.btn[disabled]:focus, .red.btn[disabled]:active, .red.btn[disabled].active, fieldset[disabled] .red.btn, fieldset[disabled] .red.btn:hover, fieldset[disabled] .red.btn:focus, fieldset[disabled] .red.btn:active, fieldset[disabled] .red.btn.active {
  background-color: #d84a38;
}
.red.btn .badge {
  color: #d84a38;
  background-color: #FFFFFF;
}



/***
Misc tools
***/
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-text-shadow {
  text-shadow: none !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-35 {
  padding-top: 35px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-45 {
  padding-top: 45px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-65 {
  margin-bottom: 65px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}
.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}
.header-wrapper {
  height: 123px;
}

.pre-header {
  color: #616b76;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  line-height: 1.2;
  font-weight: 300;
  background: #fff;
}
.pre-header li {
  padding-left: 11px;
  padding-right: 15px;
  border-right: solid 1px #d8d8d8;
}
.pre-header a {
  color: #616b76;
}

.additional-contact-info li:first-child {
  padding-left: 0;
}
.additional-contact-info li:last-child {
  border: none;
}
.additional-nav li:last-child {
  padding-right: 0;
}
.pre-header li:last-child {
  border: none;
}
.site-logo {
  float: left;
  font-size: 23px;
  font-weight: 400;
  margin-right: 67px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header {
  box-shadow: 0 1px 3px #ddd;
  background: #fff;
  border-radius: 0;
  z-index: 999;
  position: relative;
}
.header-wrapper.fixed .header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(255,255,255,0.95)
}
.header-wrapper.fixed {
  height: 116px;
}
.header .mobile-toggle {
  float: right;
  color: #D8D8D8;
  border: 1px solid #D8D8D8;
  border-radius: 100% !important;
  width: 32px;
  height: 32px;
  display: none;
  margin: 25px 0 0 30px;
  position: relative;
  background: #fff url(../img/toggler.png) no-repeat 6px 8px;
  transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    -ms-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -webkit-transition: margin 0.3s ease;
}
.header .mobile-toggle i {
  display: none;
}
.header .mobile-toggle:hover {
  background: #e34f00 url(../img/toggler.png) no-repeat 6px -28px;
  border-color: #e34f00;
  color: #fff;
}
.header-navigation a {
  color: #333;
}
.header-navigation a:hover,
.header-navigation a:focus,
.header-navigation a:active {
  color: #E02222;
  text-decoration: none;
}
ul.top-nav {  
  text-transform: uppercase;
}
ul.top-nav li.dropdown {
  height: 77px;
  display: inline-block;
  padding-top: 31px;
  font-size: 15px;
  padding-right: 20px;
}
ul.top-nav a {
  font: 400 18px "PT Sans Narrow", Arial, sans-serif;
  color: #78828c;
}
.header-navigation > ul > li > .dropdown-menu {
  margin-top: -5px;
  border-top: solid 3px transparent;
  z-index: 1001;
}
.header-navigation .dropdown-menu {
  left: auto;
  top: 100%;
  padding: 0;
  background: #fff;
  position: absolute;
  border: none;
  box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
  text-transform: none;
  font: 13px "Open Sans", sans-serif;
  letter-spacing: 0;
  border-radius: 0;
  z-index: 9999;
}
.header-navigation .dropdown-menu > li:first-child {
  border-top: 2px solid #EA4C1D;
}
.carousel {
  margin-top: 15px;
}
.carousel img {
  min-width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.content h2 {
  font: 400 37px "PT Sans Narrow", Arial, sans-serif;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: center;
}
.content h2 span {
  color: #E54A1A;
}
.content h2:after {
  z-index: 2;
  content: " ";
  display: block;
  padding-top: 7px;
  border-bottom: 2px solid #b7bbbf;
  width: 73px;
  margin: 0 auto;
}
.content h4 {
  font: 300 18px "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.team-block {
  text-align: center;
}
.team-block h4 {
  margin-bottom: 30px;
}
.about-gca p,
.about-gca h4 {
  font: 300 18px "Open Sans", Arial, sans-serif;
}

/* Live scorecard section */

.live-score-wrapper {
  background: url(../img/2.jpg) no-repeat;
  width: 100%;
  height: 450px;
  margin: auto;
  max-width: 2000px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
  margin-top: -20px;
  font-family: "Roboto",Arial;
}
.zooter-logo {
  position: absolute;
  right: 0;
  top: 0;
}
.live-banner {
  font-size: 30px;
  color: #fff;
  padding: 5px;
  position: relative;
  margin-bottom: 20px;
}
.live-text {
  background: red;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  border-top: 20px solid red;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -16px;
}
.match-title {
  color: #fff;
  font-size: 16px;
}
.live-team-name {
  font-size: 47px;
  color: #fff;
  font-weight: lighter;
}
.live-vs {
  margin-top: 25px;
}
.live-vs .vs {
  background-color: #dedede;
  padding: 5px;
  border-radius: 50%;
}
.live-bowling-team {
  opacity: 0.4
}
.live-bowler-wrapper,
.live-batsman-wrapper {
  position: relative;
  height: 82px;
}
.live-bowler,
.live-batsman {
  width: 100%;
  position: absolute;
  color: #fff;
  font-size: 16px;
  bottom: 0px;
}
.live-bowler.current,
.live-batsman.current {
  top: 10px;
}
.live-bowler.current .live-bowler-name:after,
.live-batsman.current .live-batsman-name:after {
  content: '*';
}
.live-team-stats {
  color: #fff;
}
.live-team-stats.target {
  opacity: 0.4;
}
.live-team-stats .live-team-runs {
  font-size: 40px;
}
.live-team-stats .live-team-overs {
  font-size: 18px;
}
.yet-to-bat {
  font-size: 20px;
  color: #fff;
}
.live-actions .btn {
  border-radius: 0px;
  font-size: 18px;
  text-transform: uppercase;
}
.live-actions .btn-danger {
  background-color: red;
}
.optional-text {
  color: #fff;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.timer {
    margin-top: 60px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    padding-top: 20px;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
    background: #e8643e;
    border: 1px solid #e8643e;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
}
.finished {
  color: #fff;
  font-size: 50px;
}


/* About Section */
#about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bcci-logo img {
  max-height: 129px;
}
.meet-the-team {
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}
.meet-the-team span {
  color: #E54A1A;
}
.meet-the-team:after {
  z-index: 2;
  content: " ";
  display: block;
  padding-top: 7px;
  border-bottom: 2px solid #b7bbbf;
  width: 73px;
  margin: 0 auto;
}
.member {
  padding-bottom: 30px;
}
.member h3 {
  font-size: 20px;
  padding-top: 13px;
  margin-bottom: 2px;
}
.member em {
  color: #E54A1A;
}
.tb-socio .fa {
  width: 33px;
  height: 33px;
  color: #b3bdc6;
  border-radius: 50% !important;
  border: solid 1px #d5d5d5;
  font-size: 19px;
  line-height: 19px;
  margin: 0 7px;
  padding-top: 7px;
}
.tb-socio .fa:hover {
  color: #e6400c;
  border: solid 1px #e6400c;
  text-decoration: none;
}
.team-block {
  margin-top: 20px;
}

/* Services block */
.services-block {
  background: #f6f6f6;
  padding: 60px 0 70px;
  text-align: center;
}
.services-block .row {
  padding-top: 44px;
}
.services-block .item {
  border-right: solid 1px #e8e7e7;
  padding-top: 9px;
}
.services-block .col-md-3:last-child {
  border-right: none;
}
.services-block .fa {
  background: #e85425;
  color: #fff;
  width: 99px;
  height: 99px;  
  line-height: 1;
  border-radius: 50%;
  position: relative;
  margin-bottom: 29px;
}
.services-block .fa:after {
  bottom: -8px;
  width: 0; 
  height: 0;
  left: 50%;
  margin-left: -9px;
  z-index: 2; 
  content: " "; 
  display: block; 
  position: absolute;
  border-top: 9px solid #e85425;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.services-block .fa {
  font-size: 38px;
  padding: 35px 0 0;
}

.services-block p {
  margin-bottom: 5px;
}
/* Showcase Styling */

#showcase {
  padding-top: 60px;
  text-align: center;
}
#showcase .row {
  padding:0;
  margin: 0;
}
#showcase .item {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#showcase .item > a {
  background: rgba(229,74,26,0.85);
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #fff;
}
#showcase .valign-center-elem {
  position: absolute;
  top: 50%;
  margin-top: -40.5px;
  width: 100%;
  height: 81px;
}
#showcase .item:hover > a {
  bottom: 0;
}
#showcase .item > a:hover {
  text-decoration: none;
}
.ie8 #showcase .item > a {
  background: #e54a1a;
}

#showcase .item strong {
  font: 400 17px/1.2 "Open Sans", Arial, sans-serif;
  display: block;
  margin-bottom: 4px;
}
#showcase .item em {
  font: 300 13px "Open Sans", Arial, sans-serif;
  display: block;
  margin-bottom: 10px;
}
#showcase .item b {
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  border: solid 1px #fff;
  padding: 8px 15px 7px;
}
#showcase .item b:hover {
  background: #fff;
  color: #E85425;
  border-color: #fff;
}
#teams {
  padding-top: 60px;
  text-align: center;
}

/* Fixtures Styling */

#fixtures {
  padding-top: 60px;
  text-align: center;
}
.fixture-table tbody td {
  text-align: left;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* Scores Styling */
#scores {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.score-filters {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer Styling */

.footer-block h2 {
  color: #4db3a4;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
.footer-block p {
  margin: 0;
}
.footer-block a {
  color: #a2abb7;
}
.pre-footer {
  background: #48525e;
  color: #a2abb7;
  padding: 30px 0;
  clear: both;
}
.member img {
  height: 370px;
  width: 340px;
}

@media (max-width: 1024px) {
  .header .mobile-toggle {
    display: block;
  }
  ul.top-nav {
    display: none;
  }
  ul.top-nav.open {
    display: block;
  }
  .carousel {
    display: none;
  }
  #about {
    padding-top: 0px;
  }
}
@media (max-width: 992px) {
  .member img {
    margin:0 auto;
    height: 174px;
    width: 170px;
  }
  .live-team-name {
    text-align: center;
    font-size: 20px;
  }
  .live-bowler-wrapper, .live-batsman-wrapper {
    display: none;
  }
  .live-team-stats .live-team-runs {
    font-size: 20px;
  }
  .live-actions .btn {
    margin-bottom: 10px;
  }
  .live-score-wrapper {
    /*height: 500px;*/
  }
}
@media (max-width: 768px) {
  .timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    margin-bottom: 20px;
    padding-top: 18px;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
  .timer .days, .timer .hours, .timer .minutes, .timer .seconds {
    font-size: 42px;
    font-weight: 100;
    line-height: 43px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 550px) {
  .live-actions .btn {
    font-size: 14px;
    /*text-align: center;*/
  }
  .zooter-logo {
    width: 75px;
  }
}
