table.search-table thead {
  color: #999;
}
table.search-table thead tr th {
  background-color: #DDD;
  font-size: 14px;
  font-weight: 400;
  color: #666 !important;
}
table.search-table thead tr th a {
  color: #666 !important;
}
.btn.red-stripe {
  border-left: 3px solid #d84a38;
}
.search-form {
  position: relative;
  margin-left: 13px;
  margin-right: 13px;
}
.search-form .submit,
.search-form .btn {
  position: absolute;
  right: 0;
  top: 0;
}