body {
  background-color: #eff4f6;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #578ebe !important;
  border-bottom: 1px solid #dedede;
}
.stadium-cover {
  padding: 10px;
  position: relative;
}
.stadium-overview img {
  max-width: 100%;
  overflow: hidden;
}
.stadium-cover .caption {
  position: absolute;
  left:12%;
  top: 35%;
  color: #fff;
}
.stadium-description {
  padding: 10px;
  font-size: 15px;
}
.downloads a {
  display: block;
  text-align: left;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.downloads span {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}
.downloads em {
  font-size: 13px;
  margin-bottom: 8px;
  margin-bottom: 0;
  font-style: normal;
  display: block;
}
.downloads a .top-download-icon {
  right: 8px;
  bottom: 15px;
  opacity: 0.3;
  font-size: 35px;
  position: absolute;
  filter: alpha(opacity=30);
}
.important-information {
  margin-bottom: 20px;
}
.important-link {
  margin-top: 20px;
  margin-bottom: 20px;
}