.btn-green {
  color: #FFFFFF;
  background-color: #44b6ae;
}
.portlet {
  background: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 25px;
  border-radius: 4px;
}
.portlet.right {
  padding: 12px 20px 15px 20px;
  background-color: #fff;
}
.project-wrapper {
  padding: 12px 20px 15px 20px;
}
.caption {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.caption-helper {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.actions button {
  border-radius: 20px;
  padding: 2px 10px;
}
.project-list ul li a {
  font-size: 14px !important;
  padding: 8px 10px;
  color: #5b9bd1;
}
.badge {
  font-size: 11px !important;
  font-weight: 300;
  text-align: center;
  height: 18px;
  padding: 3px 6px 3px 6px;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  text-shadow: none !important;
  text-align: center;
  vertical-align: middle;
}

.project-list .nav li a .badge {
  float: right;
  background-color: #b4c4cd !important;
  margin-top: 1px !important;
}
.project-list .nav .active {
  background-color: #ffffff !important;
}
.project-list .nav-pills > li.active > a {
  background-color: #87a9c7 !important;
}
.project-list .nav li a .badge-active {
  background-color: #ffffff !important;
  color: #637b89 !important;
}
.portlet-content {
  padding-top: 8px;
}
.ticket-list {
  padding: 0;
}
.ticket-item {
  background: #f6fbfc;
  padding: 10px;
  margin-bottom: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.ticket-item-border-green {
  border-left: #3faba4 2px solid;
}
.ticket-item-border-red {
  border-left: #d05454 2px solid;
}
.ticket-item-border-blue {
  border-left: #4c87b9 2px solid;
}
.ticket-item-border-purple {
  border-left: #8877a9 2px solid;
}
.ticket-item-border-yellow {
  border-left: #d4ad38 2px solid;
}
.ticket-item img {
  margin: 0 10px 10px 0;
  width: 27px;
}
.ticket-userpic {
  border-radius: 50% !important;
  border: 1px #cedae1 solid;
}
.ticket-item-title {
  font-size: 15px;
  color: #2b4a5c;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 13px;
}
.ticket-item-text {
  font-size: 13px;
  color: #577688;
  padding-bottom: 5px;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ticket-controls {
  margin-top: 5px;
}
.ticket-date {
  color: #637b89 !important;
  margin-right: 12px;
}
.ticket-date i {
  color: #abbfca !important;
  margin-right: 5px;
}
.badge.badge-roundless {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.ticket-badge {
  background-color: #b3bfcb;
}
.ticket-filters {
  margin-bottom: 20px;
}
.ticket-item .actions a {
  color: #000;
  padding-right: 10px;
}