body {
  background-color: #eff4f6;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #578ebe !important;
  border-bottom: 1px solid #dedede;
}
.news-cover {
  padding: 10px;
  position: relative;
}
.news-cover img {
  max-width: 100%;
  overflow: hidden;
  max-height: 200px;
}
.news-description {
  padding: 10px;
  font-size: 15px;
}
.recent-news-list {
  padding: 10px;
}
ul.recent-news-list li {
  font-size: 15px;
  background: url(../img/right_arrow.png) no-repeat 0 8px;
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px dotted #000;
  padding-bottom: 6px;
}
.meta-data {
  padding: 10px;
}
.meta-data a {
  color: #000;
}
.meta-data .fa {
  color: #D33B3B;
}
iframe {
  min-height: 210px;
}