body {
  background-color: #eff4f6;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #578ebe !important;
  border-bottom: 1px solid #dedede;
}
.sidebar {
  /*width: 250px;*/
}
.player-info {
  padding-top: 20px;
  margin-bottom: 20px;
}
.player-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.player-role {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 7px;
}
.player-city {
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.personal-info {
  padding: 5px;
  font-size: 14px;
}
.personal-info span {
  color: #9ca8b0
}
.batting-stats {
  margin-bottom: 20px;
  padding: 10px;
}
table.custom-table {
  border:0;
  background-color: #fff;
}
table.custom-table thead tr th {
  font-weight: 600;
  font-size: 13px;
  color: #4db3a4;
  /*font-family: "Open Sans", sans-serif;*/
  border: 0;
  border-bottom: 1px solid #F2F5F8;
}
table.custom-table tbody tr td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #9ca8b0;
  vertical-align: middle;
}
td.match-level {
  color: #65A0D0 !important;
  font-weight: 600;
}