.bcci-logo {
  max-height: 129px;
}
.center-row {
  text-transform: uppercase;
}
.affiliated {
  position: relative;
}
.affiliated p {
  background-color: #fff;
  width: 100px;
  margin: 0 auto;
}
hr.affiliated-separator {
  border-top: 1px solid #000;
  position: absolute;
  width: 100%;
  top:-11px;
  z-index: -1;
}
hr.black {
  border-top: 1px solid #000;
  width: 100%;
}
.subject {
  text-decoration: underline;
}
.release-footer {
  margin-top: 20px;
  padding-top: 40px;
  border-top: 1px solid #000;
}