hr.custom-separator {
  margin-bottom: 5px;
  margin-top: 5px;
}
.ticket-wrapper {
  background-color: #fff;
  padding: 20px;
}
.ticket-header .fa-ticket {
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
}
.ticket-number {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.ticket-created {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.ticket-actions a {
  color: #577688;
  padding-right: 10px;
}
.ticket-actions .fa {
  color: #E54A1A;
}
#ticket-edit-form .form-wrapper {
  display: none;
}
.form-wrapper {
  background-color: #EAEAEA;
}
.form-wrapper .help-block {
  margin-bottom: 0px;
  font-size: 12px;
}
.form-wrapper h5 {
  margin-top:0px;
  margin-bottom: 0px;
}
.form-title {
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 5px;
}
.new-ticket-form {
  padding: 20px;
}
.required-sign {
  position: absolute;
  right: 0;
  color: red;
  font-size: 10px;
}
.required-text {
  top: 8px;
}
.required-select {
  top:12px;
}
.required-textarea {
  top:60px;
}
.inner-row {
  padding-left: 9%;
}
.form-group {
  margin-bottom: 3px;
}
.updated-by {
  border-bottom: 1px dotted #dedede;
  margin-bottom: 5px;
}
.ticket-updates {
  padding: 5px;
}
.comment {
  margin-left: 20px;
}

@media (max-width: 992px) {
  .inner-row {
    padding-left: 0
  }
}