body {
  background-color: #eff4f6;
}
.team-info {
  margin-bottom: 10px;
  text-align: center;
}
.card {
  border-radius: 4px;
  background-color: #fff;
}
.team-pic img {
  max-width: 100%;
  overflow: hidden;
}
.team-name {
  font-size: 18px;
  padding: 10px;
}
.team-location {
  padding: 10px;
  padding-top: 0px;
  color: #E02222;
}
.team-tagline {
  font-size: 16px;
  padding: 10px;
  font-style: italic;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
}
.team-description {
  padding: 10px;
  font-size: 14px;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #578ebe !important;
  border-bottom: 1px solid #dedede;
}
.player-pic {
  clip: rect(0px, 50px, 50px, 0px);
  width: 50px;
  height: 50px;
}
.team-list tbody td {
  vertical-align: middle !important;
}
table.custom-table {
  border:0;
  background-color: #fff;
}
table.custom-table thead tr th {
  font-weight: 600;
  font-size: 13px;
  color: #4db3a4;
  /*font-family: "Open Sans", sans-serif;*/
  border: 0;
  border-bottom: 1px solid #F2F5F8;
}
table.custom-table tbody tr td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #9ca8b0;
  vertical-align: middle;
}
td.match-level {
  color: #65A0D0 !important;
  font-weight: 600;
}