<div class="row">
  <ul class="list-unstyled">
    <li><?php echo $this->Html->link(__('Start New Round'), array('controller' => 'rounds', 'action' => 'new_round'), array('class' => 'btn btn-success')); ?></li>
  </ul>
</div>