<blockquote>
  <h1>GPL Auction is paused.</h1>
  <div><?php echo $this->Html->link(__('Click to Resume'), array('controller' => 'rounds', 'action' => 'new_round', 'admin' => true), array('class' => 'btn btn-success')); ?></div>
</blockquote>